body{
  color: black;
  margin: 0px;
  font-family: Lucida Sans Unicode !important;
}


/*-----------navigations--------------*/

nav{
  display: flex;
  background-color: rgb(241, 241, 241);
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 70px;
}


.logo{
  color: rgb(255, 72, 0);
  font-size: 45px;
  cursor: pointer;
}

#click{
  display: none;
}

nav ul{
  display: flex;
  list-style: none;
  font-size: 20px;
}

nav ul li{
  margin: 0px 12px 0px 12px;
}

nav ul li:hover{
  color: orangered;
  text-decoration: underline;
  transition: 0.5s;
  cursor: pointer;
}

.dropdown label{
  cursor: pointer;
}

nav ul li:nth-child(1) a{
  text-decoration: none;
  color: black;
}

nav ul li:nth-child(1) a:hover{
  text-decoration: underline;
  color: orangered;
  transition: 0.5s;
}

.buyNow{
  background-color: rgba(255, 255, 255, 0);
  border: orangered 2px solid;
  border-radius: 0px 30px 30px 30px;
  padding: 5px 0px 5px 0px;
  transition: 1s;
}

.buyNow a{
  font-size: 17px;
  text-decoration: none;
  color: black;
  padding: 0px 20px 0px 20px;
}

.buyNow:hover{
  text-decoration: none;
  background-color: orangered;
  color: white;
  transition: 1s;
}

.buyNow a:hover{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/*-----------dropdowns-------------*/


.menu-btn i{
  font-size: 30px;
  margin-top: 5px;
  padding: 10px 20px;
  border: orangered 2px solid;
  border-radius: 0px 20px 20px 20px;
  display: none;
}

.dropdown{
  position: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(19, 19, 19, 0.267);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-content a{
  display: block ruby;
  width: 100%;
  color: black;
  text-decoration: none;
  font-size: 17px;
  border-top: 1px solid orangered;
  padding: 12px;
  text-align: center;
}

.dropdown-content a:nth-child(1){
  border: none;
}

.dropdown-content a:hover{
  color: rgb(255, 72, 0);
}

.dropdown:hover .dropdown-content {
  display: block;
}

#drop1{
  display: none;
}

#drop2{
  display: none;
}


@media (max-width:940px) {
  nav ul{
    position: fixed;
    top: 70px;
    left: 0px;
    background: orangered;
    height: 100%;
    width: 100%;
    display: block;
    text-align: center;
    padding-left: 0px;
    left: -100%;
    transition: 0.5s;
  }

  nav ul li{
    margin-top: 50px;
    font-size: 30px;
  }

  nav ul li:nth-child(1) a:hover{
    text-decoration: underline;
    color: rgb(255, 255, 255);
    transition: 0.5s;
  }

  nav ul li:hover{
    color: rgb(255, 255, 255) !important;
    text-decoration: underline;
    transition: 0.5s;
    cursor: pointer;
  }
  
  .dropdown:hover .dropdown-content{
    display: none;
  }

  #drop1:checked ~ .dropdown-content{
    display: block;
  }
  
  #drop2:checked ~ .dropdown-content{
    display: block;
  }

  .buyNow{
    background-color: rgba(255, 255, 255, 0);
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 0px 30px 30px 30px;
    font-size: 20px;
  }

  .buyNow a{
    font-size: 30px;
    color: white;
  }

  .buyNow:hover{
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: orangered;
    box-shadow: 0px 16px 16px 0px rgb(255, 255, 255);
    border: 2px orangered solid;
    transition: 1s;;
  }
  
  .buyNow a:hover{
    text-decoration: none;
    color: orangered;
  }

  .menu-btn i{
    display: inline-block;
    cursor: pointer;
  }

  #click{
    display: none;
  }
  
  #click:checked ~ ul{
    left: 0%;
    transition: all 0.5s;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
    padding: 0px 2px;
  }
}

/*--------------nav ends--------------*/



/*--------------hOME--------------*/



.home1{
  width: 40%;
  display: inline-block;
}

@media (max-width:800px) {
  .home1{
    width: 100%;
  }
}

.home1 h1{
  font-size: 70px;
  margin-bottom: 50px;
  text-align: center;
}

.leftpad{
  padding-left: 20px;
}

.home1_1 i{
  font-size: 80px;
  border-right: 1px solid black;
  padding-right: 20px;
}

.home1_1{
  display: inline-block;
}

.home1_2{
  padding-left: 20px;
  display: inline-block;
  width: 70%;
}

@media (max-width:1100px) {
  .home1 h1{
    font-size: 60px;
  }
  .home1_2 h2{
    font-size: 20px;
  }
  .home1_2 p{
    font-size: 14px;
  }
}

@media (max-width:400px){
  .home1 h1{
    font-size: 40px;
  }
}

.book{
  background-color: linear-gradient(90deg, #bac012 0%, #00bfc6 100%);
  animation: gradient 2.5s infinite 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.2) forwards;
  color: white;
  font-size: 25px;
  background-color: orangered;
  padding: 30px 0px;
  border: 0px;
  border-radius: 0px 50px 50px 50px;
  display: block;
  float: none;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 1s;
}

.book a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 30px 80px;
}

.book:hover{
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  color: orangered;
  border: 2px solid orangered;
  box-shadow: 0px 16px 16px 0px orangered;
  transition: 1s;
}

.book a:hover{
  text-decoration: none;
  color: orangered;
}

.home2{
  background: url("../img/pet_photo_1.jpg") no-repeat;
  background-size: contain;
  min-height: 660px;
  width: 60%;
  display: inline-block;
  float: right;
}

.home2 img{
  width: 100%;
}

@media (max-width:800px) {
.home2{
  width: 100%;
  float: right;
  margin: 0 auto;
  display: block;
} 

.home2 img{
   width: 100%;
}
}



/*--------------Features---------------*/




#sec2 h2{
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.oneThird{
  width: 32%;
  display: inline-block;
}


#sec2{
  margin-left: 20px;
}

.greyBack1{
  background-color: #e7e7e7;
  width: 260px;
  float: none;
  margin: 0 auto;
  padding: 10px;
  border-radius: 33% 59% 32% 64% / 41% 60% 56% 59%;
  transition: 0.3s ease-in-out;
}

.greyBack1:hover{
  border-radius: 49% 59% 49% 68% / 39% 71% 48% 66%;
}

.para1st{
  color: #ffffff;
  background-color: #77c04d;
  font-size: 30px;
  width: 160px;
  text-align: center;
  padding: 50px;
  padding-bottom: 80px;
  border-radius: 31% 71% 25% 72% / 31% 60% 29% 61%;
  transition: 0.3s ease-in-out;
}

.para1st:hover{
  border-radius: 51% 27% 63% 22% / 41% 26% 56% 32%;
  padding-bottom: -40px;
}

.para1st p{
  margin: 5px;
}

.para1st a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}


//2nd para---------------------



.greyBack2{
  background-color: #e7e7e7;
  width: 260px;
  float: none;
  margin: 0 auto;
  padding: 10px;
  border-radius: 33% 59% 32% 64% / 41% 60% 56% 59%;
  transition: 0.3s ease-in-out;
}

.greyBack2:hover{
  border-radius: 51% 27% 63% 22% / 41% 26% 56% 32%;
}

.para2nd{
  color: #ffffff;
  background-color: #fcbc4d;
  font-size: 30px;
  padding: 50px;
  padding-bottom: 80px;
  width: 160px;
  text-align: center;
  border-radius: 51% 27% 63% 22% / 41% 26% 56% 32%;
  transition: 0.3s ease-in-out;
}

.para2nd:hover{
  border-radius: 33% 59% 32% 64% / 41% 60% 56% 59%;
  padding-bottom: -40px;
}

.para2nd p{
  margin: 5px;
}

.para2nd a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}



//3rd para---------------------



.greyBack3{
  background-color: #e7e7e7;
  width: 260px;
  float: none;
  margin: 0 auto;
  padding: 10px;
  border-radius: 33% 59% 32% 64% / 41% 60% 56% 59%;
  transition: 0.3s ease-in-out;
}

.greyBack3:hover{
  border-radius: 31% 60% 29% 61% / 31% 71% 25% 72%;
}

.para3rd{
  color: #ffffff;
  background-color: #f06538;
  font-size: 30px;
  padding: 50px;
  padding-bottom: 80px;
  width: 160px;
  text-align: center;
  border-radius: 31% 60% 29% 61% / 31% 71% 25% 72%;
  transition: 0.3s ease-in-out;
}

.para3rd:hover{
  border-radius: 51% 27% 63% 22% / 41% 26% 56% 32%;
  padding-bottom: -40px;
}

.para3rd p{
  margin: 5px;
}

.para3rd a{
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}



//screen--------------



@media (max-width:870px) {
  .oneThird{
    width: 49%;
  }

  .middel {
    float: none;
    margin: 0 auto;
    display: block;
  }
  
  .greyBack1{
    float: none;
    margin: 0 auto;
    display: block;
  }
}

@media (max-width:870px) {
  .oneThird{
    width: 100%;
  }
  .middel{

  }
}